* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a:link {
  color: #FFF;
}
a:hover {
  color: #00d8ff;
}
a:active {
  color: #00d8ff;
}
a:visited {
  color: #FFF;
}
a{
  text-decoration: none;
}
