a {
  text-decoration: none;
  color: #FFF;
 }
a:visited {
  text-decoration: none;
 }
a:hover {
  text-decoration: none;
 }
a:focus {
 text-decoration: none;
 }
a:hover, a:active {
  text-decoration: none;
 }
