.navbar {
  z-index: 2;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  position: fixed;
}
.home {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  background-color: red;
}
