body {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: #FFF;
 }
a:visited {
  text-decoration: none;
 }
a:hover {
  text-decoration: none;
 }
a:focus {
 text-decoration: none;
 }
a:hover, a:active {
  text-decoration: none;
 }
* {
  box-sizing: border-box;
}
.hidden {
  position: absolute;
  left: -1200px;
  opacity: 0;
  display: none;
  transition: all .3s ease;
}
.navbar {
  z-index: 99;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  background-color: #4c495d;
  position: fixed;
}
.navbar ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.navbar li {
    text-transform: uppercase;
    font-size: .9rem;
    list-style: none;
    padding: 25px 0 25px 0;
    color: #1e4258;
  }
.navbar li a {
      text-decoration: none;
    }
.home {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.home__title-container {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
.home__heading {
    font-size: 4rem;

    color: #1e4258;
  }
.home__sub-heading {
    font-size: 3rem;

    color: #1e4258;
  }
.home img {

  }
.about {
  display: flex;
  z-index: 1;
}
.about__container {
    display: flex;

  }
.about__sub-container1 {
    display: flex;
    justify-content: center;
    flex: 2;
  }
.about__sub-container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin-right: 100px;
  }
.about--header {
    text-align: center;
  }
.about--text {
    text-align: center;
  }
.projects {
  display: flex;
}
.projects--header {
    width: 88%;
  }
.projects__container {
    margin-top: 100px;
    width: 88%;
    display: flex;
    flex-direction: column;
  }
.projects__sub-container1 {
    display: flex;
    flex: 1;
    justify-content: center;
  }
.projects__sub-container2 {
    display: flex;
    flex: 1;
    justify-content: center;
  }
.projects h3 {
    text-align: center;
  }
.resume {
  display: flex;
}
.contact {
  display: flex;
}
.main-container__home {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
  }
.main-container__about {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease;
  }
.main-container__projects {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;

  }
.main-container__resume {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;
  }
.main-container__contact {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;
  }
