body {
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}
.hidden {
  position: absolute;
  opacity: 0;
  display: none;
  transition: all 1s ease;
}
nav {
  z-index: 99;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  background-color: #181818;
  position: fixed;
  }
nav ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
nav li {
    text-transform: uppercase;
    font-size: .9rem;
    list-style: none;
    padding: 25px 0 25px 0;
    color: #00d8ff;
    font-weight: 700;
  }
nav li:hover {
      cursor: pointer;
    }
.home {
  display: flex;
  height: 90%;
  width: 90%;
  margin: 5%;

}
.home__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    -webkit-transform: scale(.75);
            transform: scale(.75);

  }
.home__title-container {
    display: flex;
    margin-left: 5%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
.home__heading {
    padding: 0;
    margin: 0;
    font-size: 5rem;
    color: #FFF;
  }
.home__sub-heading {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 4rem;
    color: #00d8ff;
  }
.home__text {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: #FFF;
  }
.about__container {
    width: 95%;
    display: flex;
  }
.about__sub-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
  }
.about__sub-container1 h3 {
      padding: 0 0 5% 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      color: #FFF;
    }
.about__sub-container2 {
    padding: 0 20px 0 20px;
    background-color: #252627;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: #FFF;
  }
.about__sub-container2 p {
      width: 75%;
      font-size: 1.1rem;
      display: flex;
      text-align: center;
    }
.about__sub-container2 img {
      border-radius: 80px;
      margin-bottom: 5%;
      display: flex;
    }
.projects--header {
    border: 3px solid blue;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    width: 96%;
    justify-content: center;
    margin: 1% 0 0 0;
    padding: 0;
  }
.projects__container {
    margin: 0;
    padding: 0;
    border: 3px solid red;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.projects__sub-container1 {
    border: 3px solid yellow;
    display: flex;
    flex: 1;
    justify-content: center;
  }
.projects__sub-container2 {
    border: 3px solid purple;
    display: flex;
    flex: 1;
    justify-content: center;
  }
.resume {
  display: flex;
}
.contact {
  display: flex;
}
.main-container__home {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    overflow: hidden;
  }
.main-container__about {

    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    transition: all .3s ease;
  }
.main-container__projects {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    transition: all .3s ease-out;

  }
.main-container__resume {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    transition: all .3s ease-out;
  }
.main-container__contact {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    transition: all .3s ease-out;
  }
#bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
	margin: 2em auto;
	overflow: hidden;

}
.bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
	width: 45%;
	text-align: center;
}
.bar h4 {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #FFF;
  }
.bar-circle {
  padding: 35px 0 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding--right-small {
    padding-right: 1.5%;
  }
