body {
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.hidden {
  position: absolute;
  opacity: 0;
  display: none;
  transition: all 1s ease;
}
nav {
  border: 5px solid yellow;
  z-index: 99;
  position: fixed;
  background-color: #181818;
  display: flex;
  }
@media (min-width: 320px) {
nav {
    top: 0;
    width: 100vw;
    justify-content: center;
    align-items: center
  }
  }
@media (min-width: 1200px) {
nav {
    justify-content: flex-end;
    top: 0;
    right: 0;
    height: 100vh;
    width: auto
  }
  }
nav ul {
    display: flex;
    padding: 0;
  }
@media (min-width: 320px) {
nav ul {
      border: 2px solid red;
      flex-direction: row;
      justify-content: center;
      align-items: center
  }
  }
@media (min-width: 1200px) {
nav ul {
      flex-direction: column;
      padding: 20px 3px
  }
  }
nav li {
    text-transform: uppercase;
    font-size: 1.2rem;
    list-style: none;
    padding: 25px 0 25px 0;
    color: #00d8ff;
    font-weight: 700;
    margin: 0;
  }
@media (min-width: 800px) {
nav li {
      padding: 10px 10px 10px 10px
  }
  }
@media (min-width: 1200px) {
nav li {
      font-size: .9rem;
      padding: 35% 15px
  }
  }
nav li:hover {
      cursor: pointer;
    }
.home__img {
    display: flex;
  }
@media (min-width: 320px) {
.home__img {
      position: absolute;
      opacity: .2;
      -webkit-transform: scale(.55);
              transform: scale(.55)
  }
  }
@media (min-width: 1200px) {
.home__img {
      position: relative;
      opacity: 1;
      justify-content: center;
      align-items: center;
      flex: 3;
      -webkit-transform: scale(.75);
              transform: scale(.75)
  }
  }
.home__title-container {
    display: flex;
    flex-direction: column;
  }
@media (min-width: 320px) {
.home__title-container {
      justify-content: center;
      align-items: flex-start;
      padding: 0 5% 0 5%
  }
  }
@media (min-width: 1200px) {
.home__title-container {
      margin-left: 10%;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start
  }
  }
.home__heading {
    padding: 0;
    margin: 0;
    color: #FFF;
  }
@media (min-width: 320px) {
.home__heading {
      font-size: 4rem
  }
  }
@media (min-width: 1200px) {
.home__heading {
      font-size: 5rem
  }
  }
.home__sub-heading {
    padding: 0;
    margin: 0;
    color: #00d8ff;
  }
@media (min-width: 320px) {
.home__sub-heading {
      font-size: 3.5rem
  }
  }
@media (min-width: 1200px) {
.home__sub-heading {
      font-size: 4rem
  }
  }
.home__text {
    color: #FFF;
  }
@media (min-width: 320px) {
.home__text {
      margin: 0 0 0 5px;
      padding-top: 1%;
      font-size: .8rem
  }
  }
@media (min-width: 1200px) {
.home__text {
      padding: 0;
      margin: 0;
      font-size: 1rem
  }
  }
.about__container {
    width: 95%;
    display: flex;
  }
.about__sub-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
  }
.about__sub-container1 h3 {
      padding: 0 0 5% 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      color: #FFF;
    }
.about__sub-container2 {
    padding: 0 20px 0 20px;
    background-color: #252627;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: #FFF;
  }
.about__sub-container2 p {
      width: 75%;
      font-size: 1.1rem;
      display: flex;
      text-align: center;
    }
.about__sub-container2 img {
      border-radius: 80px;
      margin-bottom: 5%;
      display: flex;
    }
.projects--header {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    width: 96%;
    justify-content: center;
    margin: 1% 0 0 0;
    padding: 0;
    color: #FFF;
  }
.projects__container {
    margin: 3% 0 0 0;
    padding: 3%;
    width: 96%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
.projects__container img{
      opacity: .8;
    }
.projects__sub-container1 {
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }
.projects__sub-container2 {
    padding: 10px;
    margin-bottom: 2%;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }
.projects__sub-container3 {
    padding: 10px;
    margin-right: 2%;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }
.projects__sub-container4 {
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }
.projects__text-container {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
.projects__text-container h2 {
      color: #00d8ff;
    }
.resume {
  display: flex;
}
.contact__sub-container1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    color: #FFF;
  }
.contact__sub-container1 h2 {
      margin: 0;
      padding: 0;
      color: #00d8ff;
    }
.contact__sub-container1 p {
      width: 75%;
    }
.contact__sub-container2 {
    padding-right: 7%;
    display: flex;
    justify-content: center;
    flex: 1;
  }
.main-container__home {
    display: flex;
    background-color: #252627;
}
@media (min-width: 320px) {
.main-container__home {
    border: 5px solid red;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center
}
  }
@media (min-width: 1200px) {
.main-container__home {
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all .3s ease;
    overflow: hidden;
    flex-direction: row;
    padding-right: 150px
}
  }
.main-container__about {
    display: flex;
  }
@media (min-width: 320px) {
.main-container__about {
      border: 5px solid purple;
      width: 100%;
      height: 1000px
  }
  }
@media (min-width: 1200px) {
.main-container__about {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    transition: all .3s ease
  }
  }
.main-container__projects {
    display: flex;
  }
@media (min-width: 320px) {
  }
@media (min-width: 1200px) {
.main-container__projects {

    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    transition: all .3s ease-out
  }
  }
.main-container__contact {
    display: flex;
  }
@media (min-width: 320px) {
  }
@media (min-width: 1200px) {
.main-container__contact {
      justify-content: space-around;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #252627;
      transition: all .3s ease-out
  }
  }
#bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
	margin: 2em auto;
	overflow: hidden;

}
.bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
	width: 45%;
	text-align: center;
}
.bar h4 {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #FFF;
  }
.bar-circle {
  padding: 35px 0 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding--right-small {
    padding-right: 1.5%;
  }
.form {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.form__input {
    border: 2px solid red;
    margin: 5px auto;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 300;
  }
.form__message {
    display: flex;
    align-content: flex-start;
    margin: 5px auto;
    height: 120px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 300;
  }
.form__submit {
    height: 50px;
    width: 100px;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 5px auto;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: #00bee0;
    color: #FFF;
  }
.form__submit:hover {
    
  }
