body {
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}
.hidden {
  position: absolute;

  opacity: 0;
  display: none;
  transition: all .3s ease;
}
nav {
  z-index: 99;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  background-color: #4c495d;
  position: fixed;
  }
nav ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
nav li {
    text-transform: uppercase;
    font-size: .9rem;
    list-style: none;
    padding: 25px 0 25px 0;
    color: #FFF;
  }
nav li:hover {
      cursor: pointer;
    }
.home {
  border: 3px solid yellow;
  display: flex;

}
.home__title-container {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
  }
.home__heading {
    border: 3px solid purple;
    font-size: 4rem;
    color: #1e4258;
  }
.home__sub-heading {
    border: 3px solid red;
    font-size: 3rem;
    color: #1e4258;
  }
.about__container {
    display: flex;

  }
.about__sub-container1 {
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    flex: 2;
  }
.about__sub-container2 {
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin-right: 81px;
  }
.about--header {
    text-align: center;
  }
.about--text {
    text-align: center;
  }
.projects--header {
    border: 3px solid blue;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    width: 96%;
    justify-content: center;
    margin: 1% 0 0 0;
    padding: 0;
  }
.projects__container {
    margin: 0;
    padding: 0;
    border: 3px solid red;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.projects__sub-container1 {
    border: 3px solid yellow;
    display: flex;
    flex: 1;
    justify-content: center;
  }
.projects__sub-container2 {
    border: 3px solid purple;
    display: flex;
    flex: 1;
    justify-content: center;
  }
.resume {
  display: flex;
}
.contact {
  display: flex;
}
.main-container__home {
    border: 3px solid blue;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
  }
.main-container__about {

    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease;
  }
.main-container__projects {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;

  }
.main-container__resume {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;
  }
.main-container__contact {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;
  }
