@import "base/_font-and-colors";
@import "base/_global";
@import "base/_mixins";
@import "base/_effects";
@import "modules/_navbar";
@import "modules/_home";
@import "modules/_about";
@import "modules/_projects";
@import "modules/_contact";
@import "modules/_main-container";
@import "modules/_bars";
@import "modules/_form";
@import "modules/_hamburgmenu";
