.about {

  &__container {
    display: flex;

  }

  &__sub-container1 {
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    flex: 2;
  }

  &__sub-container2 {
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin-right: 81px;
  }

  &--header {
    text-align: center;
  }

  &--text {
    text-align: center;
  }
}
