.about {

  &__container {
    display: flex;

    @mixin atSmall {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
    }

    @mixin atLarge {
      width: 95%;
      flex-direction: row;
    }
  }

  &__sub-container1 {
    display: flex;

    @mixin atSmall {

    }

    @mixin atLarge {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 2;
    }


    h3 {

      @mixin atSmall {
        display: none;
      }

      @mixin atLarge {
      padding: 0 0 5% 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      color: #FFF;
    }
    }
  }

  &__sub-container1__small {

    @mixin atSmall {
      background-color: #252627;
      color: #FFF;
      border: 2px solid green;
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    @mixin atLarge {
      display: none !important;
    }

    h4 {

      @mixin atSmall {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
      }

      @mixin atLarge {
        display: none;
      }
    }


    &__card1 {
      padding: 10px;

      h5 {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }

      p {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }
    }
    &__card2 {
      padding: 10px;

      h5 {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }

      p {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }
    }
    &__card3 {
      padding: 10px;

      h5 {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }

      p {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }
    }
    &__card4 {
      padding: 10px;

      h5 {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }

      p {
        @mixin atSmall {
          display: block;
        }

        @mixin atLarge {
          display: none !important;
        }
      }
    }
  }

  &__sub-container2 {
    background-color: #252627;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: #FFF;

    @mixin atSmall {
      padding: 0;
    }

    @mixin atLarge {
      padding: 0 20px 0 20px;
    }

    p {
      width: 75%;
      font-size: 1.1rem;
      display: flex;
      text-align: center;
    }

    img {
      border-radius: 80px;
      margin-bottom: 5%;
      display: flex;
    }
  }
}
