.about {
  display: flex;
  z-index: 1;

  &__container {
    display: flex;

  }

  &__sub-container1 {
    display: flex;
    justify-content: center;
    flex: 2;
  }

  &__sub-container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin-right: 100px;
  }

  &--header {
    text-align: center;
  }

  &--text {
    text-align: center;
  }
}
