.about {

  &__container {
    width: 95%;
    display: flex;
  }

  &__sub-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;

    h3 {
      padding: 0 0 5% 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      color: #FFF;
    }
  }

  &__sub-container2 {
    padding: 0 20px 0 20px;
    background-color: #252627;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: #FFF;

    p {
      width: 75%;
      font-size: 1.1rem;
      display: flex;
      text-align: center;
    }

    img {
      border-radius: 80px;
      margin-bottom: 5%;
      display: flex;
    }
  }
}
