.about {

  &__container {
    display: flex;

    @mixin atSmall {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
    }

    @mixin atLarge {
      width: 95%;
      flex-direction: row;
    }
  }

  &__sub-container1 {
    display: flex;

    @mixin atSmall {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 2;
      height: 100%;
    }

    @mixin atLarge {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 2;
    }

    h3 {

      @mixin atSmall {
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.5rem;
        color: #FFF;
      }

      @mixin atLarge {
      padding: 0 0 5% 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      color: #FFF;
    }
    }

  }

  &__sub-container2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #FFF;

    @mixin atSmall {
      padding: 40px 0 300px 0;
      background-color: #2e2f30;
      flex: 1;
    }

    @mixin atLarge {
      padding: 0 20px 0 20px;
      background-color: #252627;
      flex: 2;
    }

    p {
      width: 75%;
      font-size: 1.1rem;
      display: flex;
      text-align: center;
    }

    img {
      border-radius: 80px;
      margin-bottom: 5%;
      display: flex;
    }
  }
}
