#bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  @mixin atSmall {
    width: 100%;
    margin: 0;

  }
  @mixin atMedium {
    height: 100%;
  }

  @mixin atLarge {
    height: 50%;
    margin: 0 auto;
    padding-top: 4%;
  }
}

.bar {
  display: flex;
  align-items: center;
  text-align: center;

  @mixin atSmall {
    height: auto;
    width: 48%;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }

  @mixin atMedium {

  }

  @mixin atLarge {
    justify-content: flex-start;
    width: 45%;
  }

  h4 {
    color: #FFF;
    text-align: center;
    margin-top: 0;
    @mixin atSmall {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 400;
    }
    @mixin atLarge {
      width: 50%;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.bar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  @mixin atSmall {
    padding: 0;
  }
  @mixin atLarge {
    padding: 35px 0 35px 0;
  }
}
