#bars {
  display: flex;
  flex-wrap: wrap;

  @mixin atSmall {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  	margin: 0;
  	overflow: hidden;
  }

  @mixin atLarge {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  	margin: 2em auto;
  	overflow: hidden;
}
}

.bar {
  display: flex;

  @mixin atSmall {
    height: auto;
    width: 48%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  	text-align: center;
    margin-top: 50px;
  }

  @mixin atLarge {
    justify-content: flex-start;
    align-items: center;
  	width: 45%;
  	text-align: center;
  }


  h4 {
    color: #FFF;
    text-align: center;
    margin-top: 0;

    @mixin atSmall {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 400;

    }

    @mixin atLarge {
      width: 50%;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.bar-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  @mixin atSmall {
    padding: 0;

  }

  @mixin atLarge {
    padding: 35px 0 35px 0;

  }

}
