.contact {

  &__sub-container1 {
    display: flex;
    flex: 1;
    color: #FFF;

    @mixin atSmall {
      padding: 20% 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    @mixin atLarge {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 5%;
    }


    h2 {
      margin: 0;
      padding: 0;
      color: #00d8ff;
    }

    p {
      width: 75%;
    }
  }

  &__sub-container2 {

    @mixin atSmall {
      padding: 1  0%;
      display: flex;
      justify-content: center;
      flex: 1;
      margin-bottom: 50px;
    }

    @mixin atLarge {
      padding-right: 7%;
      display: flex;
      justify-content: center;
      flex: 1;
    }


    iframe {
      width: 650px;
      height: 800px;

      @mixin atSmall {
        width: 325px;
        height: 500px;
        border-radius: 5px;
      }

      @mixin atLarge {

      }
    }

  }

  .gmap_canvas {
    width: 650px;
    height: 800px;
    overflow: hidden;
    background: none !important;

    @mixin atSmall {
      width: 250px;
      height: 400px;
    }

    @mixin atLarge {
      width: 750px;
      height: 900px;
    }
  }

  .mapouter{text-align:right;height:800px;width:650px;}
}
