.contact {

  &__sub-container1 {
    display: flex;
    flex: 1;
    color: #FFF;

    @mixin atSmall {
      padding: 20% 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    @mixin atLarge {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 0 0 5%;
      margin-left: 2%;
    }


    h2 {
      margin: 0;
      padding: 0;
      color: #00d8ff;
    }

    p {
      width: 75%;
    }
  }

  &__sub-container2 {
    flex: 1;

    @mixin atSmall {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    @mixin atMedium {
      margin-bottom: 100px;
    }

    @mixin atLarge {
      padding-right: 10%;
      display: flex;
      justify-content: center;
      flex: 1;
      margin-bottom: 0;
    }


    iframe {
      border-radius: 5px;

      @mixin atSmall {
        width: 325px;
        height: 500px;
      }

      @mixin atMedium {
        width: 800px;
        height: 500px;
      }

      @mixin atLarge {
        width: 650px;
        height: 800px;
      }
    }

  }

  .gmap_canvas {
    width: 650px;
    height: 800px;
    overflow: hidden;
    background: none;

  }

  .mapouter {
    text-align: right;
    height: 800px;
    width: 650px;
  }

}
