.form {
  display: flex;
  flex-direction: column;
  width: 75%;

  &__input {
    border: 2px solid red;
    margin: 5px auto;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 300;
  }

  &__message {
    display: flex;
    align-content: flex-start;
    margin: 5px auto;
    height: 120px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 300;
  }

  &__submit {
    height: 50px;
    width: 100px;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 5px auto;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: #00bee0;
    color: #FFF;
  }

  &__submit:hover {

  }
}
