.home {

  &__img {
    display: flex;

    @add-mixin atSmall {
      position: absolute;
      opacity: .2;
      transform: scale(.55);

    }

    @mixin atLarge {
      position: relative;
      opacity: 1;
      justify-content: center;
      align-items: center;
      flex: 3;
      transform: scale(.75);
      }
  }

  &__title-container {
    display: flex;
    flex-direction: column;

    @mixin atSmall {
      justify-content: center;
      align-items: flex-start;
      padding: 0 5% 0 5%;
    }

    @mixin atLarge {
      margin-left: 10%;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__heading {
    padding: 0;
    margin: 0;
    color: #FFF;

    @mixin atSmall {
      font-size: 4rem;
    }

    @mixin atLarge {
      font-size: 5rem;
    }
  }

  &__sub-heading {
    padding: 0;
    margin: 0;
    color: #00d8ff;

    @mixin atSmall {
      font-size: 3.5rem;
    }

    @mixin atLarge {
      font-size: 4rem;
    }
  }

  &__text {
    color: #FFF;

    @mixin atSmall {
      margin: 0 0 0 5px;
      padding-top: 1%;
      font-size: .8rem;
    }

    @mixin atLarge {
      padding: 0;
      margin: 0;
      font-size: 1rem;
    }
  }

}
