.home {

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    transform: scale(.75);

  }

  &__title-container {
    display: flex;
    margin-left: 10%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    padding: 0;
    margin: 0;
    font-size: 5rem;
    color: #FFF;
  }

  &__sub-heading {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 4rem;
    color: #00d8ff;
  }

  &__text {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: #FFF;
  }

}
