.home {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  &__title-container {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 4rem;

    color: #1e4258;
  }

  &__sub-heading {
    font-size: 3rem;

    color: #1e4258;
  }

  img {

  }
}
