.main-container {

  &__home {
    display: flex;
    background-color: #252627;

    @mixin atSmall {
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;

    }

    @mixin atLarge {
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all .3s ease;
    overflow: hidden;
    flex-direction: row;
    padding-right: 150px;
  }
}

  &__about {
    display: flex;

    @mixin atSmall {
      flex-direction: row;
      width: 100%;
      height: 100%;
      background-color: #2e2f30;
    }

    @mixin atLarge {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all .3s ease;
    background-color: #252627;
    }
  }

  &__projects {
    display: flex;

    @mixin atSmall {

    }

    @mixin atLarge {

    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #252627;
    transition: all .3s ease-out;
    }
  }

  &__contact {
    display: flex;

    @mixin atSmall {

    }

    @mixin atLarge {
      justify-content: space-around;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #252627;
      transition: all .3s ease-out;
    }
  }
}
