.main-container {

  &__home {
    border: 3px solid blue;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
  }

  &__about {

    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease;
  }

  &__projects {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;

  }

  &__resume {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;
  }

  &__contact {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d7e0;
    transition: all .3s ease-out;
  }
}
