.navbar {
  z-index: 2;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  background-color: black;
  position: fixed;

  ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    text-transform: uppercase;
    font-size: .9rem;
    list-style: none;
    padding: 25px 0 25px 0;
    color: #FFF;

    a {
      text-decoration: none;
    }
  }
}
