nav {
  z-index: 99;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  background-color: #181818;

  ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    text-transform: uppercase;
    font-size: .9rem;
    list-style: none;
    padding: 25px 0 25px 0;
    color: #00d8ff;
    font-weight: 700;
  }

  li:hover {
      cursor: pointer;
    }
  }
