nav {
  z-index: 100;
  position: fixed;
  background-color: #181818;
  display: flex;


  @mixin atSmall {
    top: 0;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  @mixin atMedium {
    top: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  @mixin atLarge {
    justify-content: flex-end;
    top: 0;
    right: 0;
    height: 100vh;
    width: auto;
  }

  ul {
    padding: 0;

    @mixin atSmall {
      display: none;
    }

    @mixin atMedium {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    @mixin atLarge {
      display: flex;
      flex-direction: column;
      padding: 20px 3px;
    }
  }

  li {
    text-transform: uppercase;
    font-size: 1.2rem;
    list-style: none;
    padding: 25px 0 25px 0;
    color: #FFF;
    font-weight: 700;
    margin: 0;

    @mixin atSmall {
      display: none;
    }

    @add-mixin atMedium {
      display: flex;
      padding: 10px 10px 10px 10px;
    }

    @mixin atLarge {
      display: flex;
      font-size: .9rem;
      padding: 35% 15px;
    }
  }

  li:hover {
      cursor: pointer;
      color: #00d8ff;
    }

    li:active {
      color: #00d8ff;
    }
  }
