.projects {
  &--header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #FFF;
    text-decoration: underline;
    text-decoration-color: #00d8ff;

    @mixin atSmall {
      font-size: 2rem;
      width: 100%;
      font-weight: 400;
      margin-bottom: 15%;
    }

    @mixin atMedium {
      margin-top: 15%;
      font-size: 2rem;
      width: 100%;
      font-weight: 400;
      margin-bottom: 15%
    }

    @mixin atLarge {
      font-weight: 400;
      font-size: 3rem;
      width: 96%;
      margin: 1% 0 0 0;
      padding: 0;
    }
  }
  &__container {
    @mixin atSmall {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    @mixin atLarge {
      margin: 3% 0 0 0;
      padding: 0%;
      width: 96%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    img {
      opacity: .8;
      border-radius: 10px;
      order: 3;

      @mixin atSmall {
        width: 100%;
        height: auto;
      }

      @mixin atMedium {
        width: 75%;
      }

      @mixin atLarge {
        margin-left: 20%;
        width: 65%;
        height: auto;
      }
    }
  }
  &__sub-container1 {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @mixin atSmall {
      padding: 10px 25px;
      overflow: hidden;
    }
    @mixin atLarge {
      width: 45%;
      padding: 10px;
      margin-bottom: 30px;
      margin-right: 2%;
      flex-wrap: wrap;
    }
    h2 {
      display: flex;
      justify-content: center;
      color: #00d8ff;
      order: 1;
      @mixin atSmall {
        font-size: 1.2rem;
      }
      @mixin atMedium {
        font-size: 1.6rem;
        margin-bottom: 3%;
      }
      @mixin atLarge {
        margin: 0 0 2% 0;
      }
    }
  }
  &__sub-container2 {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @mixin atSmall {
      padding: 10px 25px;
      overflow: hidden;
    }
    @mixin atLarge {
      width: 45%;
      padding: 10px;
      margin-bottom: 30px;
      margin-right: 2%;
      flex-wrap: wrap;
    }
    h2 {
      display: flex;
      color: #00d8ff;
      order: 1;
      @mixin atSmall {
        font-size: 1.2rem;
      }
      @mixin atMedium {
        font-size: 1.6rem;
        margin-bottom: 3%;
      }
      @mixin atLarge {
        margin: 0 0 2% 0;
      }
    }
  }
  &__sub-container3 {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @mixin atSmall {
      flex-direction: column;
      padding: 10px 25px;
      overflow: hidden;
    }
    @mixin atLarge {
      width: 45%;
      padding: 10px;
      margin-right: 2%;
      flex-wrap: wrap;
    }
    h2 {
      display: flex;
      color: #00d8ff;
      order: 1;
      @mixin atSmall {
        font-size: 1.2rem;
      }
      @mixin atMedium {
        font-size: 1.6rem;
        margin-bottom: 3%;
      }
      @mixin atLarge {
        margin: 0 0 2% 0;
      }
    }
  }
  &__sub-container4 {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @mixin atSmall {
      padding: 10px 25px;
      overflow: hidden;
    }
    @mixin atLarge {
      width: 45%;
      padding: 10px;
      margin-right: 2%;
      flex-wrap: wrap;
    }
    h2 {
      display: flex;
      color: #00d8ff;
      order: 1;

      @mixin atSmall {
        font-size: 1.2rem;
      }

      @mixin atMedium {
        font-size: 1.6rem;
        margin-bottom: 3%;
      }

      @mixin atLarge {
        margin: 0 0 2% 0;
      }
    }
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 3;

    @mixin atSmall {
      font-size: ;
      padding-bottom: 15%;
    }

    @mixin atMedium {
      font-size: 1.2rem;
      margin-top: 2%;
    }

    @mixin atLarge {
      width: 50%;
      padding-bottom: 0;
      font-size: 1.1rem;
    }
  }
}
