.projects {

  &--header {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    width: 96%;
    justify-content: center;
    margin: 1% 0 0 0;
    padding: 0;
    color: #FFF;
  }

  &__container {
    margin: 3% 0 0 0;
    padding: 3%;
    width: 96%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img{
      opacity: .8;
    }
  }

  &__sub-container1 {
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }

  &__sub-container2 {
    padding: 10px;
    margin-bottom: 2%;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }

  &__sub-container3 {
    padding: 10px;
    margin-right: 2%;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }

  &__sub-container4 {
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFF;
  }

  &__text-container {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      color: #00d8ff;
    }

  }
}
