.projects {
  display: flex;

  &--header {
    width: 88%;
  }

  &__container {
    margin-top: 100px;
    width: 88%;
    display: flex;
    flex-direction: column;
  }

  &__sub-container1 {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__sub-container2 {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  h3 {
    text-align: center;
  }
}
