.projects {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: green;
  visibility: hidden; 

  &__header {
    width: 88%;
  }

  &__container {
    margin-top: 100px;
    width: 88%;
    display: flex;
    flex-direction: column;
  }

  &__sub-container1 {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__sub-container2 {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  h3 {
    text-align: center;
  }
}
